* {
    margin: 0;
    padding: 0;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 1em;
    color: black;
}
html {
    overflow-x: hidden;
}
a {
    text-decoration: none;
}

/* BUTTONS */
button, .button {
    padding: .8em 2em;
    font-weight: 500;
    background-color: #c777da;
    color: white;
    border: 2px solid #c777da;
    border-radius: 4px;
    transition: 0.2s;
}
button:hover, .button:hover {
    background-color: transparent;
    color: white;
}
.secondary-btn {
    background-color: transparent;
}
.secondary-btn:hover {
    background-color: white;
    color: #c777da;
    border-color: white;
}
.hero-buttons {
    display: flex;
    gap: .5em;
}
.active {
    font-weight: bold;
    color: #c777da;
}

/* SECTIONS */
section {
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-title {
    width: 70vw;
    padding-bottom: 2em;
}
.section-title h1 {
    font-size: 1.2em;
    font-weight: 300;
    border-top: solid 5px #c777da;
    width: 3em;
    padding-top: .15em;
    letter-spacing: .1em;
    text-transform: lowercase;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 2em 1em;
    margin: 0 3em;
    width: 70vw;
}
header a {
    color: white;
    font-weight: 300;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
#navbar a {
    padding: .3em .8em;
    transition: 0.2s;
}
#navbar a:hover {
    border-bottom: 5px solid #c777da;
}

/* HAMBURGER */
#hamburger {
    display: none; 
    flex-direction: column;
    text-align: right;
    padding: 2em;
    border-radius: 1em;
    
}
#hamburger img {
    padding-bottom: .5em;
}
#hamburger-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
#hamburger-nav a {
    padding-top: 1.5em;
    padding-bottom: .25em;
    transition: 0.2s;
    text-align: center;
}
#hamburger-nav a:hover {
    
    padding-bottom: .25em;
    border-bottom: #c777da 5px solid;
    
}

/* HERO */
#hero-background {
    background-image: url('./img/mere5.png');
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    width: 70vw;
}
#hero h1 {
    color: white;
    font-size: 3em;
}
#hero h3 {
    padding-top: 2em;
    color: white;
    font-size: 1.5em;
    font-weight: 300;
}
#hero .btn-container {
    padding: 5em 0;
}

/* HOME PORTFOLIO */
#home-portfolio {
    background-color: #fdf1eb;
}
#home-portfolio h3 {
    font-weight: 300;
    font-size: 1em;
    padding-top: .5em;
}
.portfolio-grid {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;
}
.portfolio-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-bottom: 2em;
}
.portfolio-img {
}
.portfolio-img img{
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 0 3px 8px -2px rgba(0, 0, 0, .4);
}
.portfolio-img a img{
    transition: 0.2s;
}
.portfolio-img a:hover img {
    transform: scale(1.01);
}
#home-portfolio .btn-container {
    padding-top: 2em;
}
#home-portfolio .button {
    background-color: transparent;
    color: #c777da;
}
#home-portfolio .button:hover {
    background-color: #c777da;
    color: white;
}

/* HOME TESTIMONIALS */
#home-testimonials {
    background-color: #c777da;
}
#home-testimonials .section-title h1 {
    color: white;
    border-color: white;
}
.image img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    align-content: center;
    border-radius: 50%;   
}
.testimonial-grid {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4em;
}
.testimonial {
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.quote {
    color: white;
    line-height: 1.5;
    font-style: italic;
}
.author {
    color: white;
    font-size: .8em;
    font-weight: 300;
}
#home-testimonials .btn-container {
    padding-top: 4em;
}
#home-testimonials .button {
    border-color: white;
}
#home-testimonials .button:hover {
    color: #c777da;
    background-color: white;
}

/* HOME ABOUT */
#home-about {
    background-color: #190A1F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-about-container {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4em;
}
.about {
    padding-bottom: 2em;
    width: 30vw;
}
#home-about .section-title h1 {
    color: white;
}
#home-about p {
    color: white;
    line-height: 1.5;
    padding-bottom: 1em;
}
.social-media {
    display: flex;
    gap: 1em;
    padding-top: 1em;
}
.social-media img {
    width: 2em;
    transition: 0.2s;
}
.social-media a:hover img {
    transform: scale(1.1);
}
.contact {
    width: 30vw;
}
.body-link {
    color: #c777da;
    font-weight: 400;
}
form {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}
form label {
    color: white;
    padding-bottom: .5em;
}
form input, form textarea {
    background-color: #F7F0FA;
    border: none;
    border-radius: 4px;
    margin-bottom: 1em;
    padding: .5em;
}
form input:focus, form textarea:focus {
    border: solid 2px #c777da;
}
form textarea {
    resize: none;
}


/* MEDIA QUERIES */
@media (max-width: 1023px) {
    header a {
        padding: 1em;
    }
    .portfolio-grid {
        flex-wrap: wrap;
    }
    .testimonial-grid {
        flex-direction: column;
        gap: 3em;
    }
    .home-about-container {
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }
    .about, .contact {
        width: 70vw;
    }
}
@media screen and (max-width: 600px) {
    header {
        margin-bottom: 1em;
    }
    #hero-background {
        background-position: 65% 0%;
    }
    #hero h1 {
        font-size: 2.3em;
    }
    #hero h3 {
        font-size: 1.5em;
    }
    .hero-buttons {
        flex-direction: column;
        gap: 1em;
    }
}
